/node_modules
/.pnp
.pnp.js
package-lock.json
.env
venv
build

/coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.settings
.classpath
.project
.cache

# idea conf files
.idea
*.ipr
*.iws
*.iml

# misc
.DS_Store
